@model AlumnoViewModel

@{
    ViewData["Title"] = "Editar Alumno";
}

<h1>Añadir nuevo Alumno</h1>

<form asp-action="AddSavedAction" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="IdAlumno" />
    </div>

    <div class="form-group">
        <label asp-for="NombreAlumno">Nombre del Alumno:</label>
        <input asp-for="NombreAlumno" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ApellidoAlumno">Apellido del Alumno:</label>
        <input asp-for="ApellidoAlumno" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DNI">DNI:</label>
        <input asp-for="DNI" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento">Fecha de Nacimiento:</label>
        <input asp-for="FechaNacimiento" class="form-control" />
    </div>
    <div class="col-md-6">
        <label asp-for="NombreCurso">Nombre del Curso:</label>
        <input type="text" asp-for="NombreCurso" class="form-control" id="NombreCurso" />
    </div>
    <div class="col-md-6">
        <label asp-for="Nota">Nota:</label>
        <input type="number" asp-for="Nota" class="form-control" id="Nota" />
    </div>
    <div class="m-4" id="notas-container"></div>
    <input type="button" value="Añadir Curso" class="btn btn-primary ml-5" id="agregar-curso" />
    <button type="button" id="agregar-nota" class="btn btn-primary ml-5">Agregar Nota</button>
    <div class="mt-3" id="result-container">
    </div>
    <div class="form-group ml-5 mt-5">
        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
        <a asp-action="Listado" class="btn btn-secondary">Cancelar</a>
    </div>



</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var resultContainer = $("#result-container");
            var agregarCursoButton = $("#agregar-curso");
            var agregarNotaButton = $("#agregar-nota");

            agregarCursoButton.click(function () {
                var nombreCurso = $("#NombreCurso").val();
                resultContainer.append("<div>Nombre del Curso: " + nombreCurso + "</div>");
            });

            agregarNotaButton.click(function () {
                var nota = $("#Nota").val();
                resultContainer.append("<div>Nota: " + nota + "</div>");
            });
        });
    </script>
}
